html{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 0.5em;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
}
nav ul li{
    display: inline-block;
    margin: 1em;
}
a{
    text-decoration: none;
    color: #d80e3a;
}
p{
    color: #555;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding: 0 5em 0 5em;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col{
    flex-basis: 50%;
    min-width: 50%;
}
.col img{
    max-width: 100%;
    padding: 20px 0;
}
.col h1{
    font-size: 50px;
    line-height: 60px;
    margin: 1em 0;
}
.btn{
    display: inline-block;
    background: #ff523b;
    color: white;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: 0.5s;
}
.header{
    background: radial-gradient(#fff,#f8fc04);
}
.header .row{
    margin-top: 70px;
}
.btn:hover{
    background: #563434;
    padding: 10px 35px;
}
.catagories{
    margin: 70px 0;
}
.col-1{
    flex-basis: auto;
    min-width: 250px;
    margin-bottom: 30px;
}
.col-1 img{
    width: 100%;
    border-radius: 20px;
    border: 5px solid #f8fc04;
}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding: 0 25px 0 25px;
}
.col2{
    flex-basis: 22%;
    padding: 10;
    min-width: 200px;
    margin-bottom: 50px;
    transition: 0.5s;
}
.col2 img{
    width: 100%;
}
.featured{
    text-align: center;
    margin:0 auto 80px auto;
    position: relative;
    line-height: 60px;
    color: #555;
}
.featured::after{
    content: '';
    background: #fff23b;
    width: 80px;
    height: 5px;
    position: absolute;
    border-radius: 5px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
h4{
    color: #555;
    font-weight: normal;
}
.col2 p{
    font-size: 14px;
}
.rating{
    color: #fff23b;
}
.col2:hover{
    transform: translateY(-5px);
    flex-basis: 25%;
}
.nav-options a:hover{
    color: #563434;
    font-size: 20px;
    transition: 0.5s;
}
#cart:hover{
    color: #563434;
    width: 35px;
    height: 35px;
    transform: translateY(5px);
    transition: 0.5s;
}
#logo{
    margin-top: 20px;
    border-radius: 20px;
}
#menu-bar{
    color: #d80e3a;
}
#menu-bar:hover{
    color: cyan;
    width: 35px;
    height: 35px;
    margin-left: 35px;
    transform: translateX(-13px);
    transition: 0.5s;
}
#menu:hover{
    color: cyan;
    width: 35px;
    height: 35px;
    /* transform: translateY(5px);
    transition: 0.5s; */
}
/* offer */
.offer{
    background: radial-gradient(#fff,#f8fc04);
    margin-top: 80px;
    padding: 30px 0;
}
.col3 .offer-img{
    border-radius: 40px;
}
small{
    color: #555;
}
/* testimonial */
.testimonial{
    padding-top: 100px;
}
.testimonial .col4{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: transform 0.5s;
}
.testimonial .col4 img{
    width: 50px;
    margin-top: 20px;
    border-radius: 50px;
}
.testimonial .col4:hover{
    transform: translateY(-10px);
}
.quote:hover{
    color: #ff523b;
    width: 35px;
    height: 35px;
    transition: 0.3s;
}

.col4 p{
    font-size: 12px;
    margin: 12px 0;
    color: #777;
}
.testimonial .row{
    padding: 0 50px 0 50px;
}
.testimonial .col4 h3{
    font-weight: 600;
    color: #555;
    font-size: 16px;
}
/* brands */
.brands{
    margin: 100px auto;
}
.col5{
    width: 160px;
}
.col5 img{
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}
.col5 img:hover{
    filter: grayscale(0%);
}
/* footer */
#download-img{
    border: 2px solid #fff;
    border-radius: 5px;
}
#footer-logo{
    border-radius: 20px;
}
.footer{
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}
.footer p{
    color: #8a8a8a;
}
.footer h3{
    color: #fff;
    margin-bottom: 20px;
}
.footer-col1,.footer-col2,.footer-col3,.footer-col4{
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col1{
    flex-basis: 30%;
}
.footer-col2{
    flex:1;
    text-align: center;
}
.footer-col2 img{
    width: 180px;
    margin-bottom: 20px;
}
.footer-col3,.footer-col4{
    flex-basis: 12%;
    text-align: center;
}
ul{
    list-style: none;
    padding: 0%;
}
.app-logo{
    margin-top: 20px;
}
.app-logo img{
    width: 140px;
}
.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 15px 0;
}
.copyright{
    text-align: center;
}
.menu-icon{
    width: 28%;
    margin-left: 20px;
    display: none;
}
/* single product details */
.single-product{
    margin-top: 80px;
}
.details-icon{
    color: #ff523b;
}
.single-product .col2 img{
    padding: 0;
}
.single-product .col2{
    padding: 20px 0;
    font-size: 22px;
    font-weight: bold;
}
.single-product select{
    display: block;
    padding: 10px;
    margin-top: 20px;
}
.single-product input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 2px solid crimson;
    border-radius: 10px;
}
input:focus{
    outline: none;
}
.small-img-row{
    display: flex;
    justify-content: space-between;
}
.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
    margin-right: 20px;
}
/* cart items */
.cart-page{
    margin: 80px auto;
}
table{
    width: 100%;
    border-collapse: collapse;
}
.cart-info{
    display: flex;
    flex-wrap: wrap;
}
th{
    text-align: left;
    padding: 5px;
    color: #fff;
    background-color: #ff523b;
    font-weight: normal;
}
td{
    padding: 10px 5px;
}
td input{
    width: 40px;
    height: 30px;
    padding: 5px;
    border-radius: 20px;
    text-align: center;
}
td a{
    color: #ff523b;
    font-size: 12px;
}
td img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
    border-radius: 20px;
}
.total-price{
    display: flex;
    justify-content: flex-end;
}
.total-price table{
    border-top: 3px solid #ff523b;
    width: 100%;
    max-width: 400px;
}
td:last-child{
    text-align: right;
}
th:last-child{
    text-align: right;
}
/* -----------account page--------------- */
.account-page{
    padding: 50px;
    background: radial-gradient(#fff,#f8fc04);
}
.form-container{
    background: #fff;
    width: 310px;
    height: 400px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
.form-container span{
    font-weight: bold;
    padding: 0 10px;
    color: #555;
    cursor: pointer;
    width: 100px;
    display: inline-block;
}
.form-btn{
    display: inline-block;
    
}
.form-container form{
    max-width: 250px;
    padding: 0 20px;
    position: absolute;
    top: 130px;
    transition: transform 1s;
}
form input{
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
}
form .btn{
    width: 90%;
    border: none;
    cursor: pointer;
    margin: 20px 0;
}
form .btn:focus{
    outline: none;
}
#LoginForm{
    left: -350px;
}
#ForgetPassword{
    left: -350px;
}
form a{
    font-size: 12px;
}
form section{
    font-size: 12px;
    color: #ff523b;
    cursor: pointer;
}
#indicator{
    width: 100px;
    border: none;
    background: #ff523b;
    height: 3px;
    margin-top: 8px;
    transform: translateX(60%);
    transition: transform 1s ;
}
#p_page1,#p_page2,#p_page3,#p_page4{
    overflow: hidden;
}
.about_text{
    margin: 5% 8%;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

/* media querys */
@media only screen and (max-width:800px) {
    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav ul li{
        display: block;
        margin : 10px 50px 10px 0px;
    }
    nav ul li a{
        color: #fff;
    }
    .menu-icon{
        display: block;
        cursor: pointer;
    }
}
/* products */
.row-2{
    justify-content: space-between;
    margin: 100px auto 50px;
}
select{
    border: 2px solid crimson;
    padding: 5px;
    border-radius: 10px;
}
select:focus{
    outline: none;
}
.page-btn{
    margin: 0 auto 80px;
}
.page-btn span{
    display: inline-block;
    border: 2px solid crimson;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    border-radius: 10px;
    font-weight: 700;
}
.page-btn span:hover{
    background-color: crimson;
    color: white;
    padding: 5px;
}
.current{
    background-color: crimson;
    color: #fff;
}


/* media query for less then 600 screen size */
@media only screen and (max-width:600px) {
    .row{
        align-items: center;
    }
    .col,.col1,.col2,.col3,.col4,.col5{
        flex-basis: 100%;
    }
    .single-product .row{
        text-align: left;
    }
    .single-product .col2{
        padding: 20px 0;
    }
    .single-product h1{
        font-size: 35px;
        line-height: 35px;
    }
    .cart-info p{
        display: none;
    }
}